# Node modules
node_modules/
back-end/node_modules/
front-end/node_modules/

# Environment variables
back-end/.env

# Build folders
front-end/build/
front-end/dist/

# Logs
*.log
back-end/logs/
front-end/logs/

# Prisma
back-end/prisma/dev.db
back-end/generated/

# Vscode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
